<nav class="navbar  navbar-light bg-light">
    <div class="">
      <a class="navbar-brand m-3" type="button">Кнопка 1</a>
      <a class="navbar-brand" type="button" mat-button>Кнопка 2</a>
      <a class="navbar-brand" type="button" mat-button>Кнопка 3</a>
    </div>
    <div>
      <div>
        <div *ngIf="isAuthorithed; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <a class="navbar-brand " type="button" routerLink="/login">Войти</a>
            <a class="navbar-brand m-3" type="button" routerLink="/Registration">Регистрация</a>
          </ng-template>
          <ng-template #elseBlock>
            <a class="navbar-brand m-3" type="button" (click)="logoutClick()">Выйти</a>
  </ng-template>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
