<nav class="navbar  navbar-light bg-light">
    <div class="">
      <a class="navbar-brand m-3" type="button">Кнопка 1</a>
      <a class="navbar-brand" type="button" mat-button>Кнопка 2</a>
      <a class="navbar-brand" type="button" mat-button>Кнопка 3</a>
    </div>
    <div>
      <div>
        <a class="navbar-brand" type="button" routerLink="/login" mat-button>Войти</a>
        <a class="navbar-brand m-3" type="button" routerLink="/registration" mat-button>Регистрация</a>
     </div>
    </div>
  </nav>
<router-outlet></router-outlet>
