<form action="" class="container widthForm bg-light">
    <div class="row align-items-center">
            <h3 class="text-center">Авторизация</h3>
            <input type="text" class="mt-3 form-control" placeholder="Имя пользователя" [(ngModel)]="loginModel.userName" name="userName">
            <input type="password" class="mt-3 form-control" placeholder="Пароль" [(ngModel)]="loginModel.password" name="pasword">
            <button class="btn btn-outline-dark mt-3" (click)="login()">Войти</button>
            <p class="text-center mt-4">Нету аккаунта? <a routerLink="/registration">Регистрация</a></p>
    </div>
</form>