.blockPost{
    border-radius: 20px;
    padding: auto;
    width: 50%;
    margin: 25px auto;
    background-color: white;
    padding: 1%;
    min-width: 400px;
}
.profileImage{
    border-radius: 100px;
    border: 3px solid black;
    box-shadow: 0 0 7px #666;
    width: 50px;
    height: 50px;
}
.imageSize{
    width: 600px;
    height: 600px;
    object-fit: cover;
}
p.bold{
    font-weight: bold;
}
p.startBold {
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
}
p.start {
    text-align: justify;
    display: inline;
}


